footer{
    background-color: #1F2833;
    height:380px;
    width: 100%;
    padding-top: 40px;
    color: white;
}
.footer-content{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}
/* .logos{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content:center;  
} */
.layout{
    table-layout: fixed;
    column-count: 3;
}
#location{
    font-size: 13px;
    flex-wrap: center;
    /* float: left; */
    /* width: 20%; */
}
#web{
    margin-right: center ;
}
#mail{
    margin-right: center ;
}

.about-content{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content:center;
}
.about-content td{
    padding: 10px;
    margin: 0 200px;
    margin-left: 10px;
}
.logos td{
    padding: 20px;
    margin: 0 200px;
    /* margin-left: 10px; */
}
.navbar{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content:center;
}
.navbar li{
    padding: 20px;
    margin: 0 8px;
}
.navbar li a{
    color: white;
    font-size: 15px;

}
.navbar li a:hover{
    color: #BCD5DC;
}
.social-links{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content:center;
}
.social-links li{
    margin:0 10px;
}

.copy{
    color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* .gotopbtn{

    position: fixed;
    width: 45px;
    height: 45px;
    background-color: #A4E4E9;
    bottom: 40px;
    right: 50px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    line-height: 38px;
    color: white ;
    font-weight: bold;
}

.gotopbtn:hover{
    background-color:#D6E7EA ;
} */
.gotopbtn{
    position: fixed;
    bottom: 40px;
    right: 50px;
}
.gotopbtn a{
    width: 45px;
    height: 45px;
    background-color: #A4E4E9;
    border-radius: 5px;
    display: block;
    text-align: center;
}
.gotopbtn a span{
    color: white ;
    line-height: 42px;

}
.gotopbtn:hover{
    background-color:#D6E7EA ;
    border-radius: 5px;
}


